<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>Admin View</title>

</head>

<body>

     <a th:href="@{/admin/addAdmin}">Add a new user with ADMIN rights.</a><br>
     <a th:href="@{/admin/users}">View all users.</a><br>
     <a th:href="@{/admin/transactions}">View last 50 transactions.</a><br>

     <h3 th:text="|DataBase population procedure:|"/>
     <a th:href="@{/admin/get-countries}">Generate countries from API (1).</a><br>
     <a th:href="@{/admin/get-leagues}">Generate leagues from API (2).</a><br>
     <a th:href="@{/admin/get-teams/63}">Generate teams from Championship (3).</a><br>
     <a th:href="@{/admin/get-teams/128}">Generate teams from Ligue 2 (4).</a><br>


     <a th:href="@{/home}">Back to main page.</a>



</body>

</html>

