<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>Admin View</title>
    <style>
        * {
            font-size: 12pt;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background: gainsboro;
            color: brown;
        }

        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>

</head>

<body>

<a th:href="@{/admin/addAdmin}">
    <button>Add a new user with ADMIN rights.</button>
</a><br>
<a th:href="@{/admin/users}">
    <button>View all users.</button>
</a><br>
<a th:href="@{/admin/transactions}">
    <button>View last 50 transactions.</button>
</a><br>
<br>
<a th:href="@{/admin/future}">
    <button>Generate a future event.</button>
</a><br>


<a th:href="@{/admin/futureShort}">
    <button>Generate a future event [SHORT - within next 5 minutes].</button>
</a><br>

<br>
<a th:href="@{/admin/populate}">
    <button>Populate database menu</button>
</a><br>

<br>
<a th:href="@{/swagger-ui.html}">
    <button>Swagger panel - API Documentation</button>
</a><br>


<br><a th:href="@{/home}">
    <button>Back to main page.</button>
</a>


</body>

</html>

