<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <style>
        * {
            font-size: 24pt;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            background: #000;
            color: #fff;
        }
        td {
            padding: 16px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>No.</th>
        <th>Id</th>
        <th>Name</th>
        <th>Enabled</th>

    </tr>
    <tr th:each="user, iterStat: ${users}" th:object="${user}">
        <td th:text="|${iterStat.count}.|">1.</td>
        <td th:text="*{id}">42</td>
        <td th:text="*{username}">Alice</td>
        <td th:text="*{enabled}">true</td>

    </tr>
</table>

<a th:href="@{/admin/panel}">Back to admin panel.</a>
</body>
</html>
