<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <!-- Page title -->
    <title>Bet Confirm</title>
    <style>
        * {
            font-size: 12pt;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background: gainsboro;
            color: brown;
        }

        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>

<p th:text="${message}"/>

<a th:href="@{/home}"><button>Back to main page</button></a>
</body>
</html>