<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Event</title>
    <style>
        * {
            font-size: 12pt;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background: gainsboro;
            color: brown;
        }

        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>
<div style="float: right">

    <p sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Account balance: <span th:text="|*{user.account.getCash()} credits|">69></span></p>
    </p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

</div>

<div th:align="left">
    <a th:href="@{/home}">
        <button>Back to homepage.</button>
    </a><br>

</div>

<div th:align="center">
<h3 th:text="|Match: |">match</h3>
<table th:width="400">
    <tr>
        <th>Home Team</th>
        <th>Info</th>
        <th>Away Team</th>
    </tr>
    <tr>

        <!--<td th:text="${event.homeTeamName}">Home Team</td>-->
        <td><a th:href="@{/team(name=${event.homeTeamName})}" th:text="${event.homeTeamName}"></a></td>
        <td>
            <p th:text="|${event.date}   ${event.time}|">11</p>
            <p th:text="|League: ${event.league.getName()}|">League name</p>
        </td>
        <!--<td th:text="${event.awayTeamName}">Away</td>-->
        <td><a th:href="@{/team(name=${event.awayTeamName})}" th:text="${event.awayTeamName}"></a></td>
    </tr>
</table>
</div>

<div align="center">
    <h3 th:text="|Odds: |">Odds</h3>
    <table th:width="400">
        <tr>
            <th>1</th>
            <th>X</th>
            <th>2</th>
        </tr>
        <tr>

            <strong>
                <td th:text="  ${event.odd_1}  ">0</td>
            </strong>
            <strong>
                <td th:text="  ${event.odd_x} ">0</td>
            </strong>
            <strong>
                <td th:text="  ${event.odd_2}  ">0</td>
            </strong>


        </tr>
    </table>
</div>


<div align="center">
    <h3 th:text="|Team vs Team history: |">TvsT</h3>
    <table>
        <tr>
            <th>Info</th>
            <th>Home Team</th>
            <th colspan="2"> Result</th>
            <th>Away Team</th>


        </tr>
        <tr th:each="TvsTDto, iterStat: ${TTs}" th:object="${TvsTDto}">
            <!--<td th:text="|${iterStat.count}.|">1.</td>-->
            <td>
                <p th:text="|*{date}   *{time}|">11</p>
                <!--<p th:text="*{league.getName()}">League name</p>-->
            </td>
            <td th:text="*{homeTeam}">Home Team</td>
            <strong>
                <td th:text="  *{homeGoals}  ">0</td>
            </strong>
            <strong>
                <td th:text="  *{awayGoals}  ">0</td>
            </strong>

            <td th:text="*{awayTeam}">Away</td>

        </tr>
    </table>
</div>

</body>
</html>
