<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Received Messages</title>
    <style>
        * {
            font-size: 12pt;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background: gainsboro;
            color: brown;
        }

        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>

<div style="alignment: left">

    <a th:href="@{/home}"><button>Back to Home page</button></a>
    <a th:href="@{/user/received}"><button>List all messages</button></a>

</div>

<div style="alignment: center">
    <h3 th:text="|Message ${message.id}: |">Message</h3>
    <table>
        <tr>
            <th>ID.</th>
            <th>Sender</th>
            <th>Sender email</th>
            <th>Created</th>
            <th>Title</th>
            <th>Text</th>

        </tr>
        <tr>
            <td th:text="${message.id}">1.</td>
            <td th:text="${message.sender.getUsername()}">CashIn</td>
            <td th:text="${message.sender.getEmail()}">1.1.1999</td>
            <td th:text="${message.created}">200</td>
            <td th:text="${message.title}">200</td>
            <td th:text="${message.messageText}">200</td>

        </tr>
    </table>
</div>




</body>
</html>
