<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Past Event</title>
    <style>
        * {
            font-size: 12pt;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            background: gainsboro;
            color: brown;
        }
        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>
<div style="float: right;">

    <p sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p sec:authorize-url="/admin/">Roles: <span sec:authentication="authorities"></span></p>
    <p>Account balance: <span th:text="|*{user.account.getCash()} credits|">69></span></p>
    </p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    
</div>

<div align="left"><a th:href="@{/home}">
    <button>Back to homepage.</button>
</a><br>
</div>


<div align="center">
<h3 th:text="|Event: |">Events</h3>
<table>
    <tr>
        <th>Info</th>
        <th>Home Team</th>
        <th colspan="2"> Result</th>
        <th>Away Team</th>


    </tr>
    <tr th:each="event, iterStat: ${event}" th:object="${event}">
        <!--<td th:text="|${iterStat.count}.|">1.</td>-->
        <td>
            <p th:text="|*{date}   *{time}|">11</p>
            <!--<p th:text="*{league.getName()}">League name</p>-->
        </td>
        <td th:text="*{homeTeamName}">Home Team</td>
        <strong>
            <td th:text="  *{homeGoals}  ">0</td>
        </strong>
        <strong>
            <td th:text="  *{awayGoals}  ">0</td>
        </strong>

        <td th:text="*{awayTeamName}">Away</td>

    </tr>
</table>
</div>

</body>
</html>
