<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Transaction details</title>
    <style>
        * {
            font-size: 12pt;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background: gainsboro;
            color: brown;
        }

        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>

<div style="alignment: left">

<a th:href="@{/home}"><button>Back to Home page</button></a>
<a th:href="@{/user/transactions}"><button>List all transactions</button></a>

</div>

<div style="alignment: center">
<h3 th:text="|Transaction ${transaction.id} details: |">Transaction</h3>
<table>
    <tr>
        <th>ID.</th>
        <th>Type</th>
        <th>Created</th>
        <th>Amount (credits)</th>
        <th>Account Id</th>
        <th>Payment method</th>

    </tr>
    <tr>
        <td th:text="${transaction.id}">1.</td>
        <td th:text="${transaction.transactionType.getName()}">CashIn</td>
        <td th:text="${transaction.created}">1.1.1999</td>
        <td th:text="${transaction.amount}">200</td>
        <td th:text="${transaction.account.getId()}">200</td>
        <td th:text="|Payment method|">200</td>
    </tr>
</table>
</div>



</body>
</html>
