<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>Team</title>
    <style>
        * {
            font-size: 12pt;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            background: gainsboro;
            color: brown;
        }

        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>
<div style="float: right">

    <p sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Account balance: <span th:text="|*{user.account.getCash()} credits|">69></span></p>
    </p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

</div>

<div th:align="left">
    <a th:href="@{/home}">
        <button>Back to homepage.</button>
    </a><br>

    <a th:href="@{/user/addToFav(name=${team.name})}">
        <button>Add Team to favorites.</button>
    </a><br>

    <a th:href="@{/user/bets}">
        <button>My bets.</button>
    </a><br>

</div>

<br>

<h2 th:align="center" th:text=" ${team.name}">Team</h2>

<hr>

<div th:align="center">
    <p th:text="|Team Standings:|"></p>
    <p th:text="|Position: ${team.position}|"></p>
    <p th:text="|Points: ${team.points}|"></p>
    <p th:text="|Won: ${team.won}|"></p>
    <p th:text="|Draw: ${team.draw}|"></p>
    <p th:text="|Lost: ${team.lost}|"></p>
    <p th:text="|GF: ${team.gf}|"></p>
    <p th:text="|GA: ${team.ga}|"></p>

</div>


<!--<div align="center">-->
    <!--<h3 th:text="|Upcoming events: |">Events</h3>-->
    <!--<table>-->
        <!--<tr>-->
            <!--<th>Home Team</th>-->
            <!--<th>Info</th>-->
            <!--<th>Away Team</th>-->
            <!--<th>Make Bet!</th>-->


        <!--</tr>-->
        <!--<tr th:each="event, iterStat: ${events}" th:object="${event}">-->
            <!--&lt;!&ndash;<td th:text="|${iterStat.count}.|">1.</td>&ndash;&gt;-->
            <!--<td><a th:href="@{/team(name=${event.homeTeamName})}" th:text="${event.homeTeamName}"></a></td>-->
            <!--<td>-->
                <!--<p th:text="|*{date}   *{time}|">11</p>-->
                <!--<p th:text="*{league.getName()}">League name</p>-->
            <!--</td>-->
            <!--<td><a th:href="@{/team(name=${event.awayTeamName})}" th:text="${event.awayTeamName}"></a></td>-->
            <!--<td>-->
                <!--<button>-->
                    <!--<a th:href="@{/event(id=${event.id})}">More...</a>-->
                <!--</button>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</div>-->

<div style="float: left" th:width="400">
    <h3 th:text="|Last matches at home: |">Home</h3>
    <table>
        <tr>
            <th>Info</th>
            <th>Home Team</th>
            <th colspan="2"> Result</th>
            <th>Away Team</th>


        </tr>
        <tr th:each="event, iterStat: ${eventsHome}" th:object="${event}">
            <!--<td th:text="|${iterStat.count}.|">1.</td>-->
            <td>
                <p th:text="|*{date}   *{time}|">11</p>
                <!--<p th:text="*{league.getName()}">League name</p>-->
            </td>
            <td th:text="*{homeTeamName}">Home Team</td>
            <strong>
                <td th:text="  *{homeGoals}  ">0</td>
            </strong>
            <strong>
                <td th:text="  *{awayGoals}  ">0</td>
            </strong>

            <td th:text="*{awayTeamName}">Away</td>

        </tr>
    </table>
</div>


<div style="float: right" th:width="400">
    <h3 th:text="|Last matches away: |">Away</h3>
    <table>
        <tr>
            <th>Info</th>
            <th>Home Team</th>
            <th colspan="2"> Result</th>
            <th>Away Team</th>


        </tr>
        <tr th:each="event, iterStat: ${eventsAway}" th:object="${event}">
            <!--<td th:text="|${iterStat.count}.|">1.</td>-->
            <td>
                <p th:text="|*{date}   *{time}|">11</p>
                <!--<p th:text="*{league.getName()}">League name</p>-->
            </td>
            <td th:text="*{homeTeamName}">Home Team</td>
            <strong>
                <td th:text="  *{homeGoals}  ">0</td>
            </strong>
            <strong>
                <td th:text="  *{awayGoals}  ">0</td>
            </strong>

            <td th:text="*{awayTeamName}">Away</td>

        </tr>
    </table>
</div>

</body>
</html>
