<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Users</title>
    <style>
        * {
            font-size: 12pt;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            background: #000;
            color: #fff;
        }
        td {
            padding: 12px;
        }
    </style>
</head>
<body>

<h3 th:text="|Transactions: |">Transactions</h3>
<table>
    <tr>
        <th>No.</th>
        <th>Type</th>
        <th>Created</th>
        <th>Amount (credits)</th>
        <th>Details</th>

    </tr>
    <tr th:each="transaction, iterStat: ${transactions}" th:object="${transaction}">
        <td th:text="|${iterStat.count}.|">1.</td>
        <td th:text="*{transactionType.getName()}">CashIn</td>
        <td th:text="*{created}">1.1.1999</td>
        <td th:text="*{amount}">200</td>
        <td><a th:href="@{/transaction(id=${transaction.id})}">Transaction details</a></td>
    </tr>
</table>



<a th:href="@{/home}"><button>Back to Home page.</button></a>

</body>
</html>
