<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- Page title -->
    <title> User Edit</title>
</head>
<body>


<form th:action="@{/user/edit}" th:object="${user}" method="post">
    <p>Update first name: <input type="text" th:field="*{firstName}" th:placeholder="*{firstName}"/></p>
    <p>Update last name: <input type="text" th:field="*{lastName}" th:placeholder="*{lastName}"/>
    <p>Email: <input type="text" th:field="*{email}" th:placeholder="*{email}"/><br>

    <button type="submit">Save changes</button>

</form>


</body>
</html>