<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>Login View</title>
    <style>
        * {
            font-size: 12pt;
        }

    </style>

</head>

<body>
<div style="float: right;">
    <img th:src="@{/560.jpg}"/>
</div>

<div style="float: left;">
<span sec:authorize="!isAuthenticated()">




        Please login: <a th:href="@{/login}"><button>Login</button></a><br><br>


        Or add a new user: <a th:href="@{/register}"><button>Add user</button></a>


    <!--<form th:action="@{/addUser}" method="POST">-->

    <!--<input type="submit" value="Add User"/>-->

    </span>

</div>
</body>

</html>

