<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Users</title>
    <style>
        * {
            font-size: 12pt;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            background: gainsboro;
            color: brown;
        }
        td {
            background: gainsboro;
            padding: 12px;
        }
    </style>
</head>
<body>
<div style="float: right;">

    <p sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p sec:authorize-url="/admin/">Roles: <span sec:authentication="authorities"></span></p>
    <p>Account balance: <span th:text="|*{user.account.getCash()} credits|">69></span></p>
    </p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <p sec:authorize-url="/admin/">
        <a th:href="@{/admin/panel}"><button>Admin page</button></a><br>
    </p>
</div>

<div align="left">
<a th:href="@{/user/cashIn}"><button>Add some cash</button></a><br>
<a th:href="@{/user/cashOut}"><button>Cash Out!</button></a><br>
<a th:href="@{/user/transactions}"><button>My transactions</button></a><br>
</div>


<div align="center">
<h3 th:text="|Upcoming events: |">Events</h3>
<table>
    <tr>
        <th>Home Team</th>
        <th>Info</th>
        <th>Away Team</th>
        <th>Make Bet!</th>


    </tr>
    <tr th:each="event, iterStat: ${events}" th:object="${event}">
        <!--<td th:text="|${iterStat.count}.|">1.</td>-->
        <td><a th:href="@{/team(name=${event.homeTeamName})}" th:text="${event.homeTeamName}"></a></td>
        <td>
            <p th:text="|*{date}   *{time}|">11</p>
            <p th:text="*{league.getName()}">League name</p>
        </td>
        <td><a th:href="@{/team(name=${event.awayTeamName})}" th:text="${event.awayTeamName}"></a></td>
        <td>
            <button>
                <a th:href="@{/event(id=${event.id})}">More...</a>
            </button>
        </td>
    </tr>
</table>
</div>

</body>
</html>
